.modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    textarea{
        width: 20rem;
        height: 20vh;
    }
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input{
        margin: 0.5rem;
    }

    button{
        margin: 1rem;
    }

    .flexRow{
        display: flex;
        flex-direction: row;
    }

    .fileBorder{
        border: 3px solid lightgray;
    }