.navbar-wrapper{
display: flex;
flex-direction: column;
}

.imgIsolater{
    background: url('./image0.jpeg');
    background-size: cover;
    height: 40vh;
}
.navbar-brand{
    font-size:2rem ;
    font-family: 'Lobster', cursive;
    
}

.nav-link:hover {
    color: black;
}
.nav-link{
    margin-right: 2vw;
    margin-left: 2vw;
    font-family: 'Rubik', sans-serif;

}